docker==6.1.3
python-dotenv==1.0.0
tqdm==4.66.2
requests==2.31.0 #Locked to this due to an issue with 2.32.0 and above breaking docker intergration

# Use an unreleased version to support non-async jobs
git+https://github.com/whdev1/pycron@e40f465940f1632b753b75c819364b20ed85e1ca
